@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Montserrat:wght@500;600;700&display=swap');

:root{
    --color-1: #ED3237;
    /*-----BLACK LEVELS--------*/
    --black-1: rgba(0,0,0,0.1);
    --black-2: rgba(0,0,0,0.2);
    --black-3: rgba(0,0,0,0.3);
    --black-4: rgba(0,0,0,0.4);
    --black-5: rgba(0,0,0,0.5);
    --black-6: rgba(0,0,0,0.6);
    --black-7: rgba(0,0,0,0.7);
    --black-8: rgba(0,0,0,0.8);
    --black-9: rgba(0,0,0,0.9);
    /*-------FONT-SIZE--------*/
    --fs-1: 10px;
    --fs-2: 12px;
    --fs-3: 14px;
    --fs-4: 16px;
    --fs-5: 18px;
    --fs-6: 20px;
    --fs-7: 22px;
    --fs-8: 24px;
    --fs-9: 26px;
}

/*ANIMATIONS*/
@-webkit-keyframes pulse-red {
    0% {box-shadow: 0 0 0 0 var(--color-1);}
    80% {box-shadow: 0 0 0 10px rgba(255, 134, 134, 0);}
    100% {box-shadow: 0 0 0 0 rgba(255, 134, 134, 0);}
}
@keyframes pulse-red {
    0% {box-shadow: 0 0 0 0 var(--color-1);}
    80% {box-shadow: 0 0 0 10px rgba(255, 134, 134, 0);}
    100% {box-shadow: 0 0 0 0 rgba(255, 134, 134, 0);}
}
@-webkit-keyframes show-fix-header{
    0%{transform: translateY(-500px);}
    100%{transform: translateY(0);}
}
@keyframes show-fix-header{
    0%{transform: translateY(-500px);}
    100%{transform: translateY(0);}
}
@-webkit-keyframes spin-line{
    100%{transform: rotate(360deg);}
}
@keyframes spin-line{
    100%{transform: rotate(360deg);}
}
@-webkit-keyframes rotate-down{
    0%{transform: rotate(0);}
    100%{transform: rotate(90deg);}
}
@keyframes rotate-down{
    0%{transform: rotate(0);}
    100%{transform: rotate(90deg);}
}
@-webkit-keyframes rotate-up{
    0%{transform: rotate(90deg);}
    100%{transform: rotate(0);}
}
@keyframes rotate-up{
    0%{transform: rotate(90deg);}
    100%{transform: rotate(0);}
}
@-webkit-keyframes show-drop-menu{
    0%{opacity: 0;transform: translateY(-20px);}
    100%{opacity: 1;transform: translateY(0);}
}
@keyframes show-drop-menu{
    0%{opacity: 0;transform: translateY(-20px);}
    100%{opacity: 1;transform: translateY(0);}
}
@-webkit-keyframes usta-logo-animation{
    0%{transform: rotate(0);}
    25%{transform: rotate(8deg);}
    50%{transform: rotate(0);}
    75%{transform: rotate(-8deg);}
    100%{transform: rotate(0);}
}
@keyframes usta-logo-animation{
    0%{transform: rotate(0);}
    25%{transform: rotate(8deg);}
    50%{transform: rotate(0);}
    75%{transform: rotate(-8deg);}
    100%{transform: rotate(0);}
}
@-webkit-keyframes alt-category-panel{
    0%{opacity: 0;transform: translateY(-50px);}
    100%{opacity: 1;transform: translateY(0);}
}
@keyframes alt-category-panel{
    0%{opacity: 0;transform: translateY(-50px);}
    100%{opacity: 1;transform: translateY(0);}
}


/*----------BASIC-------*/
*{margin: 0;padding: 0;box-sizing: border-box;}
body{font-family: 'Montserrat', sans-serif;}
body::-webkit-scrollbar{width: 7px;}
body::-webkit-scrollbar-thumb{background-color: var(--color-1);border-radius: 20px;}
body::-webkit-scrollbar-track{background-color: #D0D0D0;}
a, a:hover, a:active, a:visited {text-decoration: none;}
p{margin: 0;}
button {
    background: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;  
}
a:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -10%;
    width: 100%;
    height: 1px;
    transition: 0.3s;
    transform: scaleX(0);
    background-color: transparent;
}
a, button, div, span, p, img, i{
    transition: 0.3s;
    -o-transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
}
.header-transform{
    animation: show-fix-header 0.5s ease forwards;
    box-shadow: 0 0 5px var(--black-8);
    z-index: 9;
}
main{width: 100%;}
section{width: 100%;}
.hover-absolute-div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.swiper-slide{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sosial-icons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sosial-icons a{
    width: 35px;
    height: 35px;
    border-radius: 5px;
    background-color: #f1f1f1;
    color: var(--color-1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.sosial-icons a:hover{
    box-shadow: 0 0 5px var(--black-3);
}
/*CHEVRON ANIMATION CLASS*/
.rotate-down{animation: rotate-down 0.3s ease forwards;}
.rotate-right{animation: rotate-up 0.3s ease forwards;}

/*----------PAGE TOOLBAR CENTER--------*/
.page-toolbar-center{
    position: fixed;
    top: 50%;
    right: 0;
    transform: translate(120px,-50%);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.general-qaynar-xett{
    background-color: var(--color-1);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 8px 0 0 8px;
    animation: pulse-red 1s ease infinite;
    margin-bottom: 30px;
    transform: translateX(-120px);
    z-index: 9999;
}
.general-qaynar-xett i{
    padding: 10px 0;
    padding-right: 10px;
    color: #fff;
    font-size: var(--fs-4);
}
.general-qaynar-xett span{
    text-align: center;
    font-size: var(--fs-2);
    font-weight: 700;
    color: #fff;
}

.toolbar-card{
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 8px 0 0 8px;
    box-shadow: 0 0 5px var(--black-3);
    padding: 5px 0;
    margin-bottom: 10px;
    transition: 0.5s;
    background-color: #fff;
    z-index: 999;
}
.toolbar-card .icon{
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: 10px;
}
.toolbar-card .icon img{
    transform: rotateY(180deg);
}
.toolbar-card .icon .card-badge{
    position: absolute;
    top: 0;
    right: 0;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-1);
    color: #fff;
    font-size: var(--fs-2);
    font-weight: 500;
}
.toolbar-card a{
    color: #000;
}
.toolbar-card:hover{
    transform: translateX(-120px);
}

/*---------PAGE-TOOLBAR BOTTOM--------*/
.page-toolbar-bottom{
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.page-up-scroll-btn{
    margin-bottom: 20px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-1);
    color: #fff;
    box-shadow: 0 0 10px #fff;
    border-radius: 50%;
    font-size: 20px;
    z-index: 999;
}
.mobile-qaynar-xett{
    margin: 10px 0;
    z-index: 999;
}
.mobile-qaynar-xett span{
    position: relative;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: var(--color-1);
    color: #fff;
    font-size: var(--fs-2);
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.mobile-qaynar-xett span::before,
.mobile-qaynar-xett span::after{
    border: 1px solid;
    border-color: var(--color-1) transparent;
}
.mobile-qaynar-xett span::before{
    content: "";
    position: absolute;
    top: -8px;
    bottom: -8px;
    left: -8px;
    right: -8px;
    border-radius: 50%;
    animation: spin-line 4s linear infinite;
}
.mobile-qaynar-xett span::after{
    content: "";
    position: absolute;
    top: -16px;
    bottom: -16px;
    left: -16px;
    right: -16px;
    border-radius: 50%;
    animation: spin-line 5s linear infinite;
}


/*---------HEADER-----------*/
header{width: 100%; position: relative;}

/*--------MOBILE-HEADER--------*/
.mobile-header{width: 100%;background-color: #fff;padding: 25px 0;}
.mobile-header .container{display: flex;justify-content: center;align-items: center;}
.mobile-canvas-btn{border: none;background: #fff;}
.mobile-canvas-btn .bars{width: 45px; height: 40px;}
.mobile-canvas-btn .bars .bar{
    width: 100%;
    height: 4px;
    border-radius: 20px;
    background-color: rgba(0,0,0,0.7);
}
.mobile-canvas-btn .bars .bar2{width: 70%;}
.mobile-canvas-btn .bars .bar3{width: 85%;}
.header-icons{display: flex; align-items: center;}
.header-icons .icon-link{padding: 5px;border-left: 1px solid var(--black-2);}
.header-icons .icon-link:hover img{transform: scale(1.2);}

/*----------DROPDOWNS----------*/
.language-button{cursor: pointer;}
.language-button i{font-size: 12px;color: var(--color-1);}
.dropdown button::after, .dropdown-center button::after{display: none;}
.search-dropdown .dropdown-menu{border: none;}
.search-input-div input{
    border: none;
    outline: none;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 5px var(--black-3);
}
.language-dropdown .dropdown-menu{min-width: 50px;padding: 0;}
.language-dropdown .dropdown-menu .lang-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.language-dropdown .dropdown-menu .lang-wrapper a{
    color: #000;
    width: 100%;
    padding: 10px 15px;
}
.language-dropdown .dropdown-menu .lang-wrapper a:hover{
    background-color: var(--color-1);
    color: #fff;
}

/*----------OFFCANVAS----------*/
.offcanvas-header a:nth-of-type(1) img{width: 50px;object-fit: contain;}
.pulse-icon{
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--color-1);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: pulse-red 1s ease infinite;
}
.pulse-icon:hover{color: #fff;}
.offcanvas-header a:nth-of-type(4){display: flex; align-items: center;}
.offcanvas-header a:nth-of-type(4) img{transform: scale(1.5);padding-right: 10px;}
.offcanvas-header a:nth-of-type(4) span{color: #000;}
.offcanvas-header button{font-size: 35px; color: var(--color-1);}

#sobsan-offcanvas .offcanvas-body::-webkit-scrollbar{width: 5px;}
#sobsan-offcanvas .offcanvas-body::-webkit-scrollbar-thumb{background-color: #ED3237;border-radius: 20px;}
#sobsan-offcanvas .offcanvas-body::-webkit-scrollbar-track{background-color: #fff;}


/*------------MOBILE CATEGORIES------------*/
.categories-wrapper{width: 100%;display: flex;flex-direction: column;}
.category-item{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 15px;
    border-bottom: 1px solid var(--black-2);
}
.category-item .collapse-button{flex-grow: 1;padding: 10px 0;justify-content: flex-end;}
.collapse-button i{font-size: var(--fs-3);color: var(--color-1);}
.category-item a{padding: 10px 0;font-size: var(--fs-3);color: var(--black-8);font-weight: 500;}
.category-item:hover a{color: var(--color-1);}

.alt-menu-1{width: 100%;display: flex;flex-direction: column;}
.alt-menu-1 .category-item a{padding-left: 15px;}
.alt-menu-2{width: 100%;display: flex;flex-direction: column;}
.alt-menu-2 .category-item a{padding-left: 25px;}

.offcanvas-links{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 15px;
    margin: 20px 0;
}
.offcanvas-links .link-item{display: flex;padding: 5px 0;}
.offcanvas-links .link-item a{
    border-bottom: 1px solid var(--black-2);
    margin-right: 10px;
    color: var(--black-8);
    font-size: var(--fs-3);
}
.offcanvas-links .link-item i{color: var(--color-1);}
.offcanvas-links .link-item:hover a{color: var(--color-1);}

.alt-menu{display: flex;flex-direction: column;align-items: flex-start;}
.alt-menu a{margin-left: 15px;}

.offcanvas-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: 0 0 5px var(--black-3);
}

/*-------------GENERAL HEADER-----------*/
.general-header{width: 100%;}
.general-header .container{display: flex;justify-content: center;align-items: center;}
/*-------TOP NAVBAR----------*/
.top-navbar{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.top-navbar .left{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px 0;
}
.top-navbar .right{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}
.top-nav-link{font-size: var(--fs-3);color: var(--black-8);position: relative;}
.top-nav-link:hover{color: var(--color-1);}
.top-nav-link:hover::after{transform: scaleX(1);background-color: var(--color-1);}

.tn-dropdown{position: relative;padding: 10px 0;}
.tn-dropdown-menu{
    position: absolute;
    top: 100%;
    left: 0;
    padding: 10px;
    box-shadow: 0 0 5px var(--black-3);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    animation: show-drop-menu 0.5s ease forwards;
    z-index: 99;
    background-color: #fff;
}
.tn-dropdown-menu a{margin: 4px 0;}
.tn-dropdown-menu.lg{width: 280px;}
.top-navbar .right .sosial-icons{margin-right: 20px;}
.top-navbar .right .icon-link{padding: 5px 15px;}
.icon-link.login img{margin-right: 10px;}
.icon-link.login span{color: var(--black-8);}

/*---------BOTTOM NAVBAR----------*/
.bottom-navbar{
    background-color: #fff;
    width: 100%;
}
.bottom-navbar .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    position:relative ;
}
.bottom-navbar-links{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bottom-nav-link{
    color: var(--black-8);
    font-size: var(--fs-2);
    padding: 10px;
    font-weight: 700;
}
.bottom-nav-link:hover{
    background-color: var(--color-1);
    color: #fff;
    animation: pulse-red 1s ease infinite;
}
.usta-logo img{
    width: 150px;
    object-fit: contain;
    animation: usta-logo-animation 3s linear infinite;
}
/*-------HEADER ALT CATEGORY PANEL-------*/
.alt-category-panel-button{align-self: stretch;}
.alt-category-panel{
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 99;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 5px var(--black-5);
    margin-top: -10px;
    animation: alt-category-panel 0.5s ease forwards;
}
.alt-category-panel-menu{
    width: 100%;
    height: 100%;
    padding: 15px 10px;
}
.category-col{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border-right: 1px dashed var(--black-7);
    padding-bottom: 10px;
}
.category-col:nth-of-type(4){border-right: none;}
.category-col:last-child{border-right: none;}
.alt-category-links{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 10px;
}
.alt-category-links .header-link{
    font-size: var(--fs-3);
    font-weight: 700;
    color: var(--black-9);
    margin: 15px 0;
    position: relative;
}
.alt-category-links .header-link::after{
    transform: scaleX(1);
    background-color: #000;
    bottom: 0;
}
.alt-category-links .alt-link{
    font-size: var(--fs-3);
    color: var(--black-9);
    padding: 3px 0;
}
.alt-category-links .header-link:hover::after{background-color: var(--color-1);}
.alt-category-links a:hover{color: var(--color-1);}
.alt-link-item{display: flex;}
.alt-link-item i{padding: 0 5px;}


/*-----------FOOTER-----------*/

footer .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-top{
    width: 100%;
    padding: 50px 0;
    display: flex;
    justify-content: center;
}
.footer-top .left{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.footer-top .left .logo{
    margin-bottom: 25px;
}
.footer-top .right{
    width: 100%;
    display: flex; 
    justify-content: center;
    align-items: center;
}
.footer-links{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.footer-links span{
    font-weight: 700;
    margin-bottom: 10px;
}
.footer-links a{
    color: var(--black-7);
    font-size: var(--fs-3);
    margin-bottom: 5px;
}
.footer-links a:hover{
    color: var(--color-1);
}
.footer-bottom{
    width: 100%;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-bottom .left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.footer-bottom .left a{color: var(--color-1);}
.footer-bottom .right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.footer-bottom span, a{
    color: var(--black-8);
    font-size: var(--fs-3);
}

.footer-bottom a:hover{color: var(--color-1);}